body {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #212529;
  color: #fff;
  flex-shrink: 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 0.375em;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #FFF;
  color: #212529;
  font-weight: bold;
}

.content {
  flex-grow: 1;
  padding: 20px;
}